@font-face {
  font-family: 'Cagliostro-Regular';
  src: url("/home/quanng/Documents/Dictionary/target/classes/Utils/Fonts/Cagliostro-Regular.ttf");
}

/* Styles for the root element */
.root {
  background-color: linear-gradient(to top right, #752e65, #44008b);
  border-radius: 5px;
}

/* Styles for the container element */
.container {
  background-color: #fff;
  border-radius: 5px;
}

/* Styles for the menu */
.menu {
  padding: 0;
}

/* Styles for the menu items */
.menu-item {
  background-color: transparent;
  border-radius: 30px;
  padding: 0 0 0 10px;
  color: #fff;
  font-weight: bold;
  font-family: "Cagliostro-Regular";
}

/* Styles for menu item on hover and focus */
.menu-item:hover,
.menu-item:focus {
  background-color: #c6a1d6;
}

/* Styles for the search box */
.search-box {
  background-color: #44008b;
  border-radius: 30px;
  /*box-shadow: 0 0 15px rgba(140, 122, 230, 0.6);*/
}

/* Styles for the search field */
.search-field {
  background-color: transparent;
  color: #d1d8e0;
  font-family: "Cagliostro-Regular";
  font-weight: bold;
  font-size: 13px;
  border: none;
}

/* Styles for the search field on press inside the search box */
.search-field:active {
  background-color: white;
}

/* Styles for the cancel button */
.cancel-button {
  background-color: transparent;
  color: #2b2b2b;
  cursor: pointer;
}

/* Styles for the definition wrapper */
.definition-wrapper {
  border-width: 1.5px;
  background-color: white;
  border-radius: 5px;
  /*box-shadow: 0 0 4px rgba(79, 34, 88, 0.6);*/
}

/* Styles for the explanation field */
.explanation-field {
  background-color: transparent;
  color: #9f45b0;
  font-size: 16px;
}

/* Styles for the explanation menu */
.explanation-menu {
  border-color: #966FBD;
  border-width: 0 0 2px 0;
}

/* Add more styles for other elements and components as needed */
