@font-face {
    font-family: 'Voces-Regular';
    src: url('Fonts/Voces-Regular.ttf');
}

.root {
    -fx-background-color: linear-gradient(to top right, #a36a2c, #8f6131); /* old paper gradient */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.container, .myDialog {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu {
    -fx-padding: 0;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-padding: 0 0 0 10;
    -fx-background-insets: 0;
    -fx-text-fill: #8b4513; /* saddle brown */
    -fx-font-weight: bold;
    -fx-font-family: 'Crimson Text';
}

.menu-item:hover,
.menu-item:focused {
    -fx-background-color: #ffe4b5; /* moccasin */
}

.search-box {
    -fx-background-color: #f2deb4; /* old paper */
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #8b4513, 15, 0, 0, 2); /* saddle brown */
}

.search-field,
.english-word-input,
.meaning-input {
    -fx-background-color: transparent;
    -fx-text-fill: #8b4513; /* saddle brown */
    -fx-font-family: 'Crimson Text';
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-border: none;
}

.search-field:pressed > .search-box {
    -fx-background-color: white;
}

.cancel-button {
    -fx-background-color: transparent;
    -fx-text-fill: #2b2b2b;
    -fx-cursor: hand;
}

.definition-wrapper {
    -fx-border-width: 1.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #f8e6c8; /* eggshell */
    -fx-effect: dropshadow(three-pass-box, #f2deb4, 4, 0, 0, 1.5); /* old paper */
}

.explanation-field {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-text-fill: #8b4513; /* saddle brown */
    -fx-font-size: 16px;
}

.explanation-menu {
    -fx-border-color: #8b4513; /* saddle brown */
    -fx-border-width: 0 0 2 0;
}

.edit-button,
.delete-button,
.volume-button,
.save-button {
    -fx-padding: 0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #f8e6c8; /* eggshell */
    -fx-border: none;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, #8b4513, 2, 0, 0, 1); /* saddle brown */
}

.edit-button:hover,
.delete-button:hover,
.volume-button:hover,
.save-button:hover {
    -fx-background-color: #f2deb4; /* old paper */
    -fx-effect: dropshadow(three-pass-box, #2b2b2b, 3, 0, 0, 1);
}

.edit-button:pressed,
.delete-button:pressed,
.volume-button:pressed,
.save-button:pressed {
    -fx-effect: dropshadow(three-pass-box, #8b4513, 4, 0, 0, 1); /* saddle brown */
}

.save-button {
    -fx-background-color: #f8e6c8; /* eggshell */
    -fx-text-fill: #8b4513; /* saddle brown */
    -fx-font-weight: bold;
}

.title {
    /*-fx-background-color: #f2deb4;*/
    -fx-effect: dropshadow(three-pass-box, #8b4513, 10, 0, 0, 0); /* saddle brown */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.list-cell {
    -fx-text-fill: #8b4513; /* saddle brown */
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-padding: 5;
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.list-cell:even,
.list-cell:odd {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.list-cell:even {
    -fx-background-color: #f8e6c8; /* eggshell */
}

.list-cell:odd {
    -fx-background-color: #f2deb4; /* old paper */
}

.list-cell:filled:hover,
.list-cell:filled:selected {
    -fx-background-color: linear-gradient(to bottom left, #f2deb4, #8b4513); /* old paper, saddle brown */
    -fx-text-fill: white;
}

.transparent {
    -fx-background-color: transparent;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.success-alert{
    -fx-font-size: 14px;
    -fx-text-fill: #8b4513; /* saddle brown */
    -fx-background-color:  #f8e6c8; /* eggshell */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.body {
      -fx-border-width: 1.5;
         -fx-background-radius: 5;
         -fx-border-radius: 5;
         -fx-background-color: #bd9579; /* eggshell */
         -fx-effect: dropshadow(three-pass-box, #f2deb4, 4, 0, 0, 1.5); /* old paper */
 }
 .my-class {
     background-color: transparent;
 }
 .border {
     -fx-background-color: #de9d6f;
 }
.transparent-button {
    -fx-background-color: transparent;
    -fx-text-fill: white; /* Set the text color */
    -fx-shape: "M 25 25 m -25 0 a 25 25 0 1 1 50 0 a 25 25 0 1 1 -50 0"; /* This defines the circle shape */

}

.transparent-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* Set the background color with some transparency */
}
.transparent-button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.4); /* Set the background color with some transparency */
}
.searchPane {
    -fx-effect: dropshadow(three-pass-box, #8b4513, 10, 0, 0, 0); /* saddle brown */
    -fx-background-radius: 5;
    -fx-border-color: #8b4513; /* saddle brown */
    -fx-border-radius: 5;
    -fx-border-width: 2px; /* Adjust the border width as needed */
    -fx-border-radius: 5px; /* Adjust the border radius as needed */
}
/* Styles for the search-box pane */
.search-box {
    -fx-background-color: #f0f0f0; /* Light gray background */
    -fx-background-radius: 5;
    -fx-border-color: #cccccc; /* Light gray border color */
    -fx-border-radius: 5;
    -fx-border-width: 1px; /* Adjust the border width as needed */
}

/* Styles for the TextField inside the search-box */
.search-box .text-field {
    -fx-font-size: 18.0;
    -fx-background-color: transparent; /* Transparent background */
    -fx-background-radius: 5;
    -fx-border-color: transparent; /* Transparent border */
    -fx-border-radius: 5;
    -fx-text-fill: #333333; /* Text color */
    -fx-prompt-text-fill: #999999; /* Prompt text color */
    -fx-padding: 0 5 0 5; /* Adjust padding as needed */
}

/* Styles for the ImageView inside the search-box */
.search-box .image-view {
    -fx-padding: 0 5 0 5; /* Adjust padding as needed */
}
/* Style for the beautiful buttons */
